{% extends 'base.html' %}
{% block title %}查重{% endblock %}
{% block content %}

<div class="panel panel-default" id="duplicate_tag">
    <hr>
    <h2>分析中,耗时较长，请勿操作...</h2>
    <hr>
</div>


<div class="panel panel-default">
    <ul class="nav nav-tabs">
        <li><a href="#">作业信息</a></li>
        <li><a href="#">下载作业</a></li>
        <li class="active"><a href="{{ url_for('file.duplicate') }}">作业查重</a></li>
        <li><a href="#">在线批阅</a></li>
    </ul>

    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <caption>查重信息汇总</caption>
            <thead>
            <tr>
                <th>文件名</th>
                <th>与它最相似的文件</th>
                <th>相似度</th>
            </tr>
            </thead>
            <tbody id="duplicate_result">
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="col-sm-offset-2 col-sm-10">
        <button id="start_btn" class="btn btn-default">开始查重</button>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <button id="download_report" onclick="window.open('./file/download/{{ email }}.xlsx')" class="btn btn-default">
            下载查重报告
        </button>
    </div>

</div>
<div>
</div>
<script>
$(document).ready(function(){
        $("#download_report").hide()
        $("#duplicate_tag").hide();
    });
    function start_duplicate(){
        $("#start_btn").hide();
        $("#duplicate_tag").show(); // 显示正在下载标志
        var no_meaning = "nothing";
        var formData = new FormData();
        formData.append("no_meaning", no_meaning)
        $.ajax({
            type: 'POST',
            data: formData,
            url: '/duplicate',
            contentType: false,
            processData: false,//这两个一定设置为false
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                <!--未写完-->
                update_progress(status_url);
            },
            error: function(){
                alert('Unexpected error');
            }
        });
    }
    function update_progress(status_url){
        // send GET request to status URL
        $.getJSON(status_url, function(data){
            if (data['state'] == 'SUCCESS'){
                //alert('查重完成');
                $("#duplicate_tag").hide();
                $("#download_report").show()
                // 显示结果
                for(var key in data["result"]){
                    var context = "<tr><td>" + key + "</td><td>" + data['result'][key][0] + "</td><td>" + data['result'][key][1] + "</td></tr>";
                    $("#duplicate_result").append(context);
                }
            }
            else{
                setTimeout(function(){
                    update_progress(status_url)
                }, 2000);
            }
        });
    }
    $(function() {
            $('#start_btn').click(start_duplicate);
        });







</script>
{% endblock %}

